include head.html
.container.content
    h1 Pick the future of Torrent Paradise
    p I don't want to add features that the users don't want. Influence the development by sending cryptocurrency to the address associated with your desired improvement. Once the goal is reached, development of the proposed feature will start. If you'd like to propose an improvement, send me an email.
    p 
        small Raised amount is not updated in real time. Looks like the goal won't be reached and want to redirect it somewhere else? Email me.
    .columns
        .column
            .card
                header.card-header.card-header-title.card-content.subtitle Index 20 million torrents
                .card-content.content 
                    p I believe it is possible to increase the count of indexed torrents tenfold (from 2 million). This would significantly increase server costs. Raising the goal amount would not only fund the initial indexing, but also the increase in server costs for 6 months.
                    br 
                    | <b>Goal</b>: $120
                    progress.progress.is-primary(value=0,max=120)
                footer.card-footer
                    a.card-footer-item(href="https://www.blockchain.com/btc/address/15KMfTMCZcJeZS3Ct9TxzKzHFWsx3Ct5zq") Bitcoin

        .column
            .card
                header.card-header.card-header-title.card-content.subtitle Machine learned result sorting
                .card-content
                    .content
                        p Finally do away with sorting by seed count and personalize the results. Does your browser say that your screen resolution is 1280x720 and your language is Spanish? Here is a version of the TV show you're looking for in spanish in 720p.
                        p All web search engines currently do this, only torrent sites don't.
                        br 
                        | <b>Goal</b>: $150
                        progress.progress.is-primary(value=7.28,max=150)
                footer.card-footer
                    a.card-footer-item(href="https://www.blockchain.com/btc/address/1AHpkqBzW56h4q7ycYPkcsy5dqYq2AM6Si") Bitcoin

        .column
            .card
                header.card-header.card-header-title.card-content.subtitle Add fresh content and verified badges
                .card-content
                    .content
                        p Crawl other torrent sites for new torrents. Add verified badges to torrents that come from moderated sites.
                        br
                        | <b>Goal</b>: $50
                        progress.progress.is-primary(value=0,max=50)
                footer.card-footer
                    a.card-footer-item(href="https://www.blockchain.com/btc/address/13YqTqkZqGkEWd86msTKDWhuaJvbcxMfZs") Bitcoin

            
