include head.html
.container.content
    h1 Torrent Paradise: decentralized torrent search
    ul
        li impossible to take down: you can always run your own via #[a(href="ipfs.html") IPFS] 
        li runs in browser, so your query never leaves your computer
            ul
                li built off #[a(href="https://ipfsearch.xyz") ipfsearch]
        li #[b no ads] if you use IPFS
            ul
                li this is to encourage IPFS use and help decentralize
        li new torrents are discovered via DHT and added automagically
        li send suggestions to urban-guacamole (at) protonmail.com