include head.html
.container.content
    h1 Torrent Paradise: decentralized innovative torrent site
    ul
        li no single point of failure: you can always run your own via #[a(href="ipfs.html") IPFS] 
        li runs in browser, so your query never leaves your computer
            ul
                li based off open source code from #[a(href="https://ipfsearch.xyz") ipfsearch]
        li seed/leech counts always up-to-date
        li #[b no ads] if you use IPFS
            ul
                li this is to encourage IPFS use and help decentralize
        li new torrents are discovered via DHT and added automagically
        li more info at #[a(href="https://www.reddit.com/r/torrents/comments/afibhh/i_made_a_decentralized_torrent_search_site_with/") Reddit discussion]
        li source code on #[a(href="https://github.com/urbanguacamole/torrent-paradise") GitHub]
        li send suggestions to urban-guacamole (at) protonmail.com
