include head.html
.container.content
    h1 Copyright notices
    p Torrent Paradise is a decentralized search engine for torrents discovered via the distributed hash table. We are aware of the fact that much of the content on the DHT is copyrighted, just like is much of the content on the Internet copyrighted. We are fully prepared to do everything to protect the rights of rightsholders. We comply with all relevant laws. Please note that no content is stored here, only links to it. It is not in our capacity to screen the 25000 torrents that we discover every day for copyrighted content.
    p If you would like to notify us about content that we link to that infringes your copyrights or the copyright of a party that you represent, you can do so via email urban-guacamole@protonmail.com.
    p To accelerate the process, use the subject "Copyright notice" in your emails. Thank you.