include head.html
.container.content
    h1 Remove ads and access the index even when the main server is down
    p Because torrent paradise needs no single server, only static files, you can download the index and use it locally, just like you download a torrent.
    p To use it without the centralized server, use #[a(href="https://ipfs.io") IPFS]. Address in IPFS is #[a(href="https://cloudflare-ipfs.com/ipns/torrent-paradise.ml") /ipns/torrent-paradise.ml].