include head.html
.section
    .container.content.legible
        h1 Pick the future of nextgen
        p When you donate, you can use your donation to support development of your desired features. Influence the development by sending cryptocurrency to the address associated with your desired improvement. Once the goal is reached, development of the proposed feature will start. If you'd like to propose an improvement, send me an email.
        p 
            small Raised amount is not updated in real time. Looks like the goal won't be reached and want to redirect it somewhere else? Email me.
        .columns
            .column
                .card
                    header.card-header.card-header-title.card-content.subtitle WebTorrent for in-browser streaming of the most popular torrents
                    .card-content.content 
                        p The server could seed the most popular torrents on #[a(href="") WebTorrent] and allow visitors to stream them, right in the browser.
                        br 
                        | <b>Goal</b>: $150
                        progress.progress.is-primary(value=0,max=150)
                    footer.card-footer
                        a.card-footer-item(href="https://www.blockchain.com/btc/address/15KMfTMCZcJeZS3Ct9TxzKzHFWsx3Ct5zq") Bitcoin

            .column
                .card
                    header.card-header.card-header-title.card-content.subtitle Machine learned result sorting
                    .card-content
                        .content
                            p Finally do away with sorting by seed count and personalize the results. Does your browser say that your screen resolution is 1280x720 and your language is Spanish? Here is a version of the TV show you're looking for in spanish in 720p.
                            p All web search engines currently do this, only torrent sites don't.
                            br 
                            | <b>Goal</b>: $120
                            progress.progress.is-primary(value=27.28,max=120)
                    footer.card-footer
                        a.card-footer-item(href="https://www.blockchain.com/btc/address/1AHpkqBzW56h4q7ycYPkcsy5dqYq2AM6Si") Bitcoin

            .column
                .card
                    header.card-header.card-header-title.card-content.subtitle Add fresh content and verified badges
                    .card-content
                        .content
                            p Crawl other torrent sites for new torrents. Add verified badges to torrents that come from moderated sites.
                            p Update: This is partly implemented now actually, since I crawl RSS of some other torrent sites. No verified badges though.
                            br
                            | <b>Goal</b>: $50
                            progress.progress.is-primary(value=4.67,max=50)
                    footer.card-footer
                        a.card-footer-item(href="https://www.blockchain.com/btc/address/13YqTqkZqGkEWd86msTKDWhuaJvbcxMfZs") Bitcoin
