include head.html

.section
    .container.content.legible
        h1 Why I made this
        p In 2012, the iconic Pirate Bay stopped offering .torrent files for download. This launched a new era for torrent discovery as operating costs for search sites #[i plummetted]. No longer was it necessary to operate a tracker and host a terabyte of .torrent files. All you need, since 2012, is a decent VPS and a little bit of know-how on how to run a website.
        p How did I get to creating this site? In 2018, I was fascinated by the technical opportunities offered by #[a(href="https://docs.ipfs.io/concepts/what-is-ipfs/") IPFS] and #[a(href="https://ipfsearch.xyz/") ipfsearch]. It is entirely possible to distribute an index that its users 'seed', and let anyone search through it. It is pretty slow, but it's super resilient and decentralized! Why has no one done this for torrent search? I was bored and thought that this would be really cool to do, so I put a dump of TPB on it. Reddit #[a(href='https://www.reddit.com/r/TPB/comments/9vsry6/i_put_the_pirate_bay_onto_a_decentralized_search/') liked] it, people used it, I was happy.
        p In the last two years, what used to be a Pirate Bay dump has evolved and has its own name, domain, spider, and a server that can answer your queries fast, but you can still fall back on IPFS in case it goes down (or you just love privacy and decentralization).
        p I am still baffled by the fact that there is no torrent search site that has a big index, fresh seed/leech counts and ads that do not jump in your face.
        p With 2.0, I have built what I think is technically possible: a torrent site that is #[i fast, effective and doesn't make you angry]. I won't get rich, but I will make people around the world less angry and it might even pay for my time. What else could I wish for?